{
	"extends": [
		"standard",
		"plugin:react/recommended"
	],
	"parser": "babel-eslint",
	"rules": {
		"no-tabs": "off",
		"indent": [
			"error",
			"tab"
		],
		"comma-dangle": [
			"error",
			"always-multiline"
		]
	}
}